
<!DOCTYPE html>
<html lang="zxx">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sujon - index</title>

<!-- css include -->
<link rel="stylesheet" type="text/css"
	href="bower_components/css/materialize.css">
<link rel="stylesheet" type="text/css"
	href="bower_components/css/icofont.css">
<link rel="stylesheet" type="text/css"
	href="bower_components/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css"
	href="bower_components/css/owl.theme.default.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- my css include -->
<link rel="stylesheet" type="text/css"
	href="bower_components/css/custom-menu.css">
<link rel="stylesheet" type="text/css"
	href="bower_components/css/style.css">
<link rel="stylesheet" type="text/css"
	href="bower_components/css/responsive.css">

</head>


<body>




	<div class="thetop"></div>
	<!-- for back to top -->

	<div class='backToTop'>
		<a href="#" class='scroll'> <span>T</span> <span>O</span> <span>P</span>
			<span class="go-up"> <i class="icofont icofont-long-arrow-up"></i>
		</span>
		</a>
	</div>
	<!-- backToTop -->




	<!-- ==================== header-section Start ==================== -->
	<header id="header-section" class="header-section w100dt navbar-fixed">

		<nav class="nav-extended main-nav">
			<div class="container">
				<div class="row">
					<div class="nav-wrapper w100dt">

						<div class="logo left">
							<a href="index.html" class="brand-logo"> <img
								src="bower_components/img/logo.png" alt="brand-logo">
							</a>
						</div>
						<!-- logo -->

						<div>
							<a href="#" data-activates="mobile-demo" class="button-collapse">
								<i class="icofont icofont-navigation-menu"></i>
							</a>
							<ul id="nav-mobile"
								class="main-menu center-align hide-on-med-and-down">
								<li class="active"><a href="index.html">首页</a></li>
								<li><a href="cateogry.html" id="hotpage">热门</a></li>
								<li class="dropdown"><a href="#">分类<i
										class="icofont icofont-simple-down"></i></a>
									<ul class="dropdown-container">
										<li><a href="404.html">404 Page</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="404.html">404 Page</a></li>
									</ul> <!-- /.dropdown-container --></li>
								<li><a href="contact.html">发布</a></li>

							</ul>
							<!-- /.main-menu -->

							<!-- ******************** sidebar-menu ******************** -->
							<ul class="side-nav" id="mobile-demo">
								<li class="snavlogo center-align"><img
									src="bower_components/img/logo.png" alt="logo"></li>
								<li class="active"><a href="index.html">HOME</a></li>
								<li><a href="cateogry.html">CATEGORIES</a></li>
								<li><a href="single-blog.html">SINGLE BLOG</a></li>
								<li><a href="contact.html">CONTACT</a></li>
								<li><a href="404.html">404 PAGE</a></li>
							</ul>
						</div>
						<!-- main-menu -->

						<a href="#" class="search-trigger right"> <i
							class="icofont icofont-search"></i>
						</a>

						<!-- search -->
						<div id="myNav" class="overlay">
							<a href="javascript:void(0)" class="closebtn">&times;</a>
							<div class="overlay-content">
								<form>
									<input type="text" name="search" placeholder="Search..." id="textTable">
									<br>
									<button class="waves-effect waves-light" type="submit"
										name=""><a href="search" id="toSearchPost">Search</a></button>
								</form>
							</div>
						</div>

					</div>
					<!-- /.nav-wrapper -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</nav>

	</header>
	<!-- /#header-section -->
	<!-- ==================== header-section End ==================== -->




	<!-- ==================== blog-slider-section start ==================== -->
			<section id="blog-slider-section" class="blog-slider-section w100dt mb-50">
				<div class="container">

					<div class="slider">
						<ul class="slides">
							<li class="slider-item">
								<img src="bower_components/img/tongdawei.jpg" alt="Image">
								<!-- <div class="caption center-align">
									<a href="#" class="tag l-blue w100dt mb-30">待租广告位</a>
									<h1 class="card-title mb-10">
										心动不如心动
									</h1>
									<p>
										赶紧联系我们
									</p>
									<a href="#" class="custom-btn waves-effect waves-light">CALL ME</a>
								</div> -->
							</li>
							<li class="slider-item">
								<img src="bower_components/img/danei1.jpg" alt="Image">
								<!-- <div class="caption left-align">
									<a href="#" class="tag l-blue w100dt mb-30">待租广告位</a>
									<h1 class="card-title mb-10">
										心动不如心动
									</h1>
									<p>
										赶紧联系我们
									</p>
									<a href="#" class="custom-btn waves-effect waves-light">CALL ME</a>
								</div> -->
							</li>
							<li class="slider-item">
								<img src="bower_components/img/fashion.jpg" alt="Image">
								<div class="caption right-align">
									<a href="#" class="tag l-blue w100dt mb-30">待租广告位</a>
									<h1 class="card-title mb-10">
										心动不如心动
									</h1>
									<p>
										赶紧联系我们
									</p>
									<a href="#" class="custom-btn waves-effect waves-light">CALL ME</a>
								</div>
							</li>
						</ul>
					</div>

				</div>
				<!-- container -->
			</section>
			<!-- /#blog-slider-section -->
	<!-- ==================== blog-slider-section end ==================== -->

	<div class="tlinks">
		Collect from <a href="http://www.cssmoban.com/">自助建站</a>
	</div>










	<!-- ==================== blog-section start ==================== -->
	<section id="blog-section" class="blog-section w100dt mb-50">
		<div class="container">
			<div class="row">

				<div class="col s12 m8 l8">

					<div class="blogs mb-30">
						<div class="card">
							<div class="card-image">
								<img src="bower_components/img/img7.jpg" alt="Image" id="postImg0">
								<!-- <a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
											<i class="icofont icofont-camera-alt"></i>
										</a> -->
							</div>
							<!-- /.card-image -->
							<div class="card-content w100dt">
								<!-- <p>
											<a href="#" class="tag left w100dt l-blue mb-30">Lifestyle</a>
										</p> -->
								<a href="single-blog" class="card-title" id="postName0">
									Labore Etdolore Magna Aliqua Utero Ratione </a>
								<p class="mb-30" id="postcontent0">Neque porro quisquam est
									qui dolorem ipsum quia dolor sit amet, consectetur adipisci
									velit sed quia non numquam eius modi tempora incidunt ut labore
									et dolore magnam aliquam.</p>
								<ul class="post-mate-time left">
									<li>
										<p class="hero left">
											By - <a href="#" class="l-blue" id="writerName0">SujonMaji</a>
										</p>
									</li>
									<li id="createtime0"><i
										class="icofont icofont-ui-calendar"></i> 5 February'17</li>
								</ul>

								<ul class="post-mate right">
									<li class="like"><a href="#"> <i
											class="icofont icofont-heart-alt" id="post_clicks0">55</i>
									</a></li>
									<li class="comment">
										 <a href="#">
													<i class="icofont icofont-comment"  id="postCommentCount0">32</i> 
												</a>
									</li>
								</ul>
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.blogs -->

					<div class="blogs mb-30">
						<div class="card">
							<div class="card-image">
								<img src="bower_components/img/img9.jpg" alt="Image" id="postImg1">
								<!-- <a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
											<i class="icofont icofont-camera-alt"></i>
										</a> -->
							</div>
							<!-- /.card-image -->
							<div class="card-content w100dt">
								<!-- 	<p>
											<a href="#" class="tag left w100dt l-blue mb-30">Living</a>
										</p> -->
								<a href="single-blog" class="card-title" id="postName1">
									Labore Etdolore Magna Aliqua Utero Ratione </a>
								<p class="mb-30" id="postcontent1">Neque porro quisquam est
									qui dolorem ipsum quia dolor sit amet, consectetur adipisci
									velit sed quia non numquam eius modi tempora incidunt ut labore
									et dolore magnam aliquam.</p>
								<ul class="post-mate-time left">
									<li>
										<p class="hero left">
											By - <a href="#" class="l-blue" id="writerName1">SujonMaji</a>
										</p>
									</li>
									<li id="createtime1"><i
										class="icofont icofont-ui-calendar"></i> 5 February'17</li>
								</ul>

								<ul class="post-mate right">
									<li class="like"><a href="#"> <i
											class="icofont icofont-heart-alt" id="post_clicks1">55</i>
									</a></li>
									<li class="comment">
									 <a href="#">
													<i class="icofont icofont-comment" id="postCommentCount1"> 32</i>
												</a>
									</li>
								</ul>
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.blogs -->

					<div class="blogs mb-30">
						<div class="card">
							<div class="card-image">
								<img src="bower_components/img/travel2.jpg" alt="Image" id="postImg2">
								<!-- <a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
											<i class="icofont icofont-camera-alt"></i>
										</a> -->
							</div>
							<!-- /.card-image -->
							<div class="card-content w100dt">
								<!-- <p>
											<a href="#" class="tag left w100dt l-blue mb-30">Travel</a>
										</p> -->
								<a href="single-blog" class="card-title" id="postName2">
									Labore Etdolore Magna Aliqua Utero Ratione </a>
								<p class="mb-30" id="postcontent2">Neque porro quisquam est
									qui dolorem ipsum quia dolor sit amet, consectetur adipisci
									velit sed quia non numquam eius modi tempora incidunt ut labore
									et dolore magnam aliquam.</p>
								<ul class="post-mate-time left">
									<li>
										<p class="hero left">
											By - <a href="#" class="l-blue" id="writerName2">SujonMaji</a>
										</p>
									</li>
									<li id="createtime2"><i
										class="icofont icofont-ui-calendar"></i> 5 February'17</li>
								</ul>

								<ul class="post-mate right">
									<li class="like"><a href="#"> <i
											class="icofont icofont-heart-alt" id="post_clicks2">55</i>
									</a></li>
									<li class="comment">
										<a href="#">
													<i class="icofont icofont-comment" id="postCommentCount2">32</i> 
												</a>
									</li>
								</ul>
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.blogs -->

					<div class="blogs mb-30">
						<div class="card">
							<div class="card-image">
								<img src="bower_components/img/selfie.jpg" alt="Image" id="postImg3">
								<!-- <a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
											<i class="icofont icofont-camera-alt"></i>
										</a> -->
							</div>
							<!-- /.card-image -->
							<div class="card-content w100dt">
								<!-- <p>
											<a href="#" class="tag left w100dt l-blue mb-30">Fashion</a>
										</p> -->
								<a href="single-blog" class="card-title" id="postName3">
									Labore Etdolore Magna Aliqua Utero Ratione </a>
								<p class="mb-30" id="postcontent3">Neque porro quisquam est
									qui dolorem ipsum quia dolor sit amet, consectetur adipisci
									velit sed quia non numquam eius modi tempora incidunt ut labore
									et dolore magnam aliquam.</p>
								<ul class="post-mate-time left">
									<li>
										<p class="hero left">
											By - <a href="#" class="l-blue" id="writerName3">SujonMaji</a>
										</p>
									</li>
									<li id="createtime3"><i
										class="icofont icofont-ui-calendar"></i> 5 February'17</li>
								</ul>

								<ul class="post-mate right">
									<li class="like"><a href="#"> <i
											class="icofont icofont-heart-alt" id="post_clicks3">55</i>
									</a></li>
									<li class="comment">
										<a href="#">
													<i class="icofont icofont-comment" id="postCommentCount3">32</i> 
												</a>
									</li>
								</ul>
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.blogs -->

					<ul class="pagination w100dt">
						<li class="waves-effect"><a href="#!"><i
								class="icofont icofont-simple-left"></i></a></li>
						<li class="active"><a href="#!">1</a></li>
						<li class="waves-effect"><a href="#!">2</a></li>
						<li class="waves-effect"><a href="#!">3</a></li>
						<li class="waves-effect"><a href="#!">4</a></li>
						<li class="waves-effect"><a href="#!">5</a></li>
						<li class="waves-effect"><a href="#!"><i
								class="icofont icofont-simple-right"></i></a></li>
					</ul>

				</div>
				<!-- colm8 -->




				<div class="col s12 m4 l4">

					<div class="sidebar-testimonial mb-30">
						<div class="sidebar-title center-align">
							<a href="login" class="zdt"> Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="doSignOut" class="zdt">Logout</a>
							
						</div>
						<!-- /.sidebar-title -->

						<div class="carousel carousel-slider center"
							data-indicators="true">
							<h3>Hi Its Me!</h3>
							<div class="carousel-item">
								<div class="item-img">
									<span>ME</span>
								</div>
								<h2 id="loginUsername">Rakibul Hassan</h2>
								<!-- <small>Web Design & Development</small> -->
								<p id="loginEmail">Sedut perspiciatis unde omnis iste natus errorsit
									voluptatem accusantium doloremque.</p>
								
								<p id="loginCreatedtime">Sedut perspiciatis unde omnis iste natus errorsit
									voluptatem accusantium doloremque.</p>
							</div>
						</div>
					</div>
					<!-- /.sidebar-testimonial -->




<div class="top-post w100dt mb-30">
								<div class="sidebar-title center-align">
									<h2>关于本吧</h2>
								</div>
								<!-- /.sidebar-title -->

								<ul id="tabs-swipe-demo" class="top-post-tab tabs tabs-fixed-width">
									<li class="tab"><a href="#test-swipe-1" class="active">本吧信息</a></li>
									 <!-- <li class="tab"><a href="#test-swipe-2">Recent</a></li>  -->
									<li class="tab"><a href="#test-swipe-3">吧组成员</a></li>
								</ul>

								<div id="test-swipe-1" class="tab-contant most-view">

									<div class="sidebar-posts">
										<div class="card">
											<div class="card-image mb-10">
												<img src="bower_components/img/fashion.jpg" alt="Image">
												<span class="effect"></span>
											</div>
											<!-- /.card-image -->
											<div class="card-content w100dt">
												<p>
													<a href="#" class="tag left w100dt l-blue mb-10">吧名：闲谈</a>
												</p>
												<a href="#" class="card-title">
													要做就要做得高大上，不然就不要做
												</a>
												<ul class="post-mate-time left">
													<li>
														<p class="hero left">
															By - <a href="#" class="l-blue">匿名吧主</a>
														</p>
													</li>
												</ul>

												<!-- <ul class="post-mate right">
													<li class="like">
														<a href="#">
															<i class="icofont icofont-heart-alt"></i> 55
														</a>
													</li>
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul> -->
											</div>
											<!-- /.card-content -->
										</div>
										<!-- /.card -->
								
								
								
								

								<!-- 贴吧信息下方空位 -->							
<!-- 
										<div class="hot-post w100dt mb-10">
											<div class="hot-post-image">
												<img src="bower_components/img/img1.jpg" alt="Image">
												<span class="effect"></span>
											</div>
											<div class="hot-post-stacked">
												<p>
													<a href="#" class="tag left w100dt l-blue mb-10">Lifestyle</a>
												</p>
												<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
												<div class="hot-post-action">
													<p class="hero left">
														BY - <a href="#" class="l-blue">SujonMaji</a>
													</p>
													<ul class="post-mate right">
														<li class="comment">
															<a href="#">
																<i class="icofont icofont-comment"></i> 32
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div> -->
										
										
										
									</div>



								</div>
								<!-- /.most-view -->


							<!-- 	<div id="test-swipe-2" class="tab-contant recent-post"> -->

									<!-- <div class="hot-post w100dt p-15">
										<div class="hot-post-image">
											<img src="bower_components/img/img3.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										/.hot-post-image
										<div class="hot-post-stacked">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
											<div class="hot-post-action">
												<p class="hero left">
													BY - <a href="#" class="l-blue">SujonMaji</a>
												</p>
												<ul class="post-mate right">
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul>
												/.post-mate
											</div>
											/.hot-post-action
										</div>
										/.hot-post-stacked
									</div> -->
									<!-- /.hot-post -->

									<!-- <div class="hot-post w100dt p-15">
										<div class="hot-post-image">
											<img src="bower_components/img/img2.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										/.hot-post-image
										<div class="hot-post-stacked">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
											<div class="hot-post-action">
												<p class="hero left">
													BY - <a href="#" class="l-blue">SujonMaji</a>
												</p>
												<ul class="post-mate right">
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul>
												/.post-mate
											</div>
											/.hot-post-action
										</div>
										/.hot-post-stacked
									</div> -->
									<!-- /.hot-post -->

									<!-- <div class="hot-post w100dt p-15">
										<div class="hot-post-image">
											<img src="bower_components/img/img1.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										/.hot-post-image
										<div class="hot-post-stacked">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
											<div class="hot-post-action">
												<p class="hero left">
													BY - <a href="#" class="l-blue">SujonMaji</a>
												</p>
												<ul class="post-mate right">
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul>
												/.post-mate
											</div>
											/.hot-post-action
										</div>
										/.hot-post-stacked
									</div> -->
									<!-- /.hot-post -->

									<!-- <div class="hot-post w100dt p-15">
										<div class="hot-post-image">
											<img src="bower_components/img/img3.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										/.hot-post-image
										<div class="hot-post-stacked">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
											<div class="hot-post-action">
												<p class="hero left">
													BY - <a href="#" class="l-blue">SujonMaji</a>
												</p>
												<ul class="post-mate right">
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul>
												/.post-mate
											</div>
											/.hot-post-action
										</div>
										/.hot-post-stacked
									</div> -->
									<!-- /.hot-post -->

									<!-- <div class="hot-post w100dt p-15">
										<div class="hot-post-image">
											<img src="bower_components/img/img2.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										/.hot-post-image
										<div class="hot-post-stacked">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
											<div class="hot-post-action">
												<p class="hero left">
													BY - <a href="#" class="l-blue">SujonMaji</a>
												</p>
												<ul class="post-mate right">
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul>
												/.post-mate
											</div>
											/.hot-post-action
										</div>
										/.hot-post-stacked
									</div> -->
									<!-- /.hot-post -->

									<!-- <div class="hot-post w100dt p-15">
										<div class="hot-post-image">
											<img src="bower_components/img/img1.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										/.hot-post-image
										<div class="hot-post-stacked">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a href="single-blog.html" class="sm-name mb-10">Trud Exercitation EllaMcop Saboris</a>
											<div class="hot-post-action">
												<p class="hero left">
													BY - <a href="#" class="l-blue">SujonMaji</a>
												</p>
												<ul class="post-mate right">
													<li class="comment">
														<a href="#">
															<i class="icofont icofont-comment"></i> 32
														</a>
													</li>
												</ul>
												/.post-mate
											</div>
											/.hot-post-action
										</div>
										/.hot-post-stacked
									</div> -->
									<!-- /.hot-post -->

							<!-- 	</div> -->
								<!-- /.recent-post -->




<!--   组员信息 组员信息组员信息组员信息组员信息组员信息 -->


								<div id="test-swipe-3" class="tab-contant Comments-post">

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员1：成都
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img2.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员2：杨政聪
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img3.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员3：王洪芸
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员4：金豪
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员5：刘瑞东
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员6：张艺千
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img2.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员7：林声良
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img3.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员8：唐雪凝
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员9：刘瑞东
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员10：周禹庭
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->
									
									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员11：姚金荣
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->
									
									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员12：殷国栋
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->
									
									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员13：陈民杰
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->
									
									<div class="card-panel grey lighten-5 z-depth-1">
										<div class="row valign-wrapper">
											<div class="col s3">
												<img src="bower_components/img/img1.png" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
											</div>
											<div class="col s9">
												<span class="black-text">
													组员14：黄晓煌
												</span>
											</div>
										</div>
									</div>
									<!-- card-panel -->

								</div>
								<!-- /.tab-contant -->
							</div>
							<!-- /.top-post -->

<!-- 六个框六个框六个框六个框六个框六个框六个框六个框 -->

					<!--  <div class="sidebar-followme w100dt mb-30">
						<div class="sidebar-title center-align">
							<h2>Follow Me</h2>
						</div>
						

						<ul class="followme-links w100dt">
							<li class="mrb15"><a href="#" class="facebook"> <i
									class="icofont icofont-social-facebook"></i> <small
									class="Followers white-text">105 Likes</small>
							</a></li>
							<li class="mrb15"><a href="#" class="twitter"> <i
									class="icofont icofont-social-twitter"></i> <small
									class="Followers white-text">50 Follows</small>
							</a></li>
							<li><a href="#" class="google-plus"> <i
									class="icofont icofont-social-google-plus"></i> <small
									class="Followers white-text">39 Follows</small>
							</a></li>

							<li class="mrb15"><a href="#" class="linkedin"> <i
									class="icofont icofont-brand-linkedin"></i> <small
									class="Followers white-text">50 Follows</small>
							</a></li>
							<li class="mrb15"><a href="#" class="pinterest"> <i
									class="icofont icofont-social-pinterest"></i> <small
									class="Followers white-text">50 Follows</small>
							</a></li>
							<li><a href="#" class="instagram"> <i
									class="icofont icofont-social-instagram"></i> <small
									class="Followers white-text">39 Likes</small>
							</a></li>
						</ul>

					</div> -->
					<!-- /.sidebar-followme -->


<!-- 三个不知道叫什么的东西三个不知道叫什么的东西三个不知道叫什么的东西 -->

					<div class="featured-posts w100dt mb-30">
								<div class="sidebar-title center-align">
									<h2>Featured Posts</h2>
								</div>
								<!-- /.sidebar-title -->

								<div class="sidebar-posts">
									<div class="card">
										<div class="card-image mb-10">
											<img src="bower_components/img/kouhong.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										<!-- /.card-image -->
										<div class="card-content w100dt">
											<p>
												<a class="tag left w100dt l-blue mb-10">Lifestyle</a>
											</p>
											<a class="card-title">
												七夕必买新品!口红控的专属福利,不管你是什么肤色,都谁找到适合你的!
											</a>
											<ul class="post-mate-time left">
												<li>
													<p class="hero left">
														By - <a href="#" class="l-blue">SujonMaji</a>
													</p>
												</li>
											</ul>

											<ul class="post-mate right">
												<li class="like">
													<a href="#">
														<i class="icofont icofont-heart-alt"></i> 10万
													</a>
												</li>
												<li class="comment">
													<a href="#">
														<i class="icofont icofont-comment"></i> 5万
													</a>
												</li>
											</ul>
										</div>
										<!-- /.card-content -->
									</div>
									<!-- /.card -->

									<div class="card">
										<div class="card-image mb-10">
											<img src="bower_components/img/dapei.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										<!-- /.card-image -->
										<div class="card-content w100dt">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Fashion</a>
											</p>
											<a class="card-title">
												秋冬款上线啦!挑战攻略最全搭配都在这里啦!全都是硬货哦,需要的小姐姐点进来看一看啊!
												
											</a>
											<ul class="post-mate-time left">
												<li>
													<p class="hero left">
														By - <a href="#" class="l-blue">SujonMaji</a>
													</p>
												</li>
											</ul>

											<ul class="post-mate right">
												<li class="like">
													<a href="#">
														<i class="icofont icofont-heart-alt"></i> 5000
													</a>
												</li>
												<li class="comment">
													<a href="#">
														<i class="icofont icofont-comment"></i> 1000
													</a>
												</li>
											</ul>
										</div>
										<!-- /.card-content -->
									</div>
									<!-- /.card -->

									<div class="card">
										<div class="card-image mb-10">
											<img src="bower_components/img/chuanda.jpg" alt="Image">
											<span class="effect"></span>
										</div>
										<!-- /.card-image -->
										<div class="card-content w100dt">
											<p>
												<a href="#" class="tag left w100dt l-blue mb-10">Travel</a>
											</p>
											<a class="card-title">
												告别剪刀手!超实用9个拍照构图技巧,拿走拿走别客气!
											</a>
											<ul class="post-mate-time left">
												<li>
													<p class="hero left">
														By - <a href="#" class="l-blue">SujonMaji</a>
													</p>
												</li>
											</ul>

											<ul class="post-mate right">
												<li class="like">
													<a href="#">
														<i class="icofont icofont-heart-alt"></i> 1000
													</a>
												</li>
												<li class="comment">
													<a href="#">
														<i class="icofont icofont-comment"></i> 200
													</a>
												</li>
											</ul>
										</div>
										<!-- /.card-content -->
									</div>
									<!-- /.card -->
								</div>
								<!-- /.sidebar-posts -->

							</div>
 
					<!-- /.featured-posts -->







						




							<!-- <div class="sidebar-subscribe w100dt">
								<div class="sidebar-title center-align">
									<h2>Subscribe</h2>
								</div>
								/.sidebar-title

								<div class="subscribe">
									<p class="mb-30">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo.
									</p>
									<form action="#">
										<div class="input-field">
											<input id="email" type="email" class="validate">
											<label class="left-align" for="email">Enter email address</label>
										</div>
										<a class="waves-effect waves-light">SUBMIT NOW</a>
									</form>
								</div> -->
								<!-- /.subscribe -->

							</div>
							<!-- /.sidebar-subscribe -->
							
						</div>	
						<!-- colm4 -->
						
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</section>
			<!-- /#blog-section -->
			<!-- ==================== blog-section end ==================== -->





	<!-- ==================== instag leftram-section Start ==================== -->
	<section id="instagram-section" class="instagram-section w100dt">

		<div class="instagram-link w100dt">
			<a href="#"> <span>FIND US ON INSTAGRAM</span> @SUJONMAJIDESIGN
			</a>
		</div>

	</section>
	<!-- /#instag leftram-section -->
	<!-- ==================== instag leftram-section End ==================== -->





	<!-- ==================== footer-section Start ==================== -->
	<footer id="footer-section" class="footer-section w100dt">
		<div class="container">

			<div class="footer-logo w100dt center-align mb-30">
				<a href="#" class="brand-logo"> <img
					src="bower_components/img/logo.png" alt="brand-logo">
				</a>
			</div>
			<!-- /.footer-logo -->

			<ul class="footer-social-links w100dt center-align mb-30">
				<li><a href="#" class="facebook">FACEBOOK</a></li>
				<li><a href="#" class="twitter">TWITTER</a></li>
				<li><a href="#" class="google-plus">GOOGLE+</a></li>
				<li><a href="#" class="linkedin">LINKDIN</a></li>
				<li><a href="#" class="pinterest">PINTEREST</a></li>
				<li><a href="#" class="instagram">INSTAGRAM</a></li>
			</ul>

			<p class="center-align">
				<i class="icofont icofont-heart-alt l-blue"></i> All Right Reserved,
				Deasined by <a href="#" class="l-blue">HTMLmate</a> - More Templates
				<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
				- Collect from <a href="http://www.cssmoban.com/" title="网页模板"
					target="_blank">网页模板</a> - More Templates <a
					href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
				- Collect from <a href="http://www.cssmoban.com/" title="网页模板"
					target="_blank">网页模板</a>
			</p>

		</div>
		<!-- container -->
	</footer>
	<!-- /#footer-section -->
	<!-- ==================== footer-section End ==================== -->










	<!-- my custom js -->
	<script type="text/javascript"
		src="bower_components/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="bower_components/js/materialize.js"></script>
	<script type="text/javascript"
		src="bower_components/js/owl.carousel.min.js"></script>

	<!-- my custom js -->
	<script type="text/javascript" src="bower_components/js/custom.js"></script>
	<script type="text/javascript">
			
	function getTagsMessage() {
		var url = "tags/doFindObjects"
			$.getJSON(url, function(result) {
				debugger
				var ul = $(".dropdown-container");
				var str = "";
				ul.empty();
				for(var i=0; i<result.data.length; i++){
					str += '<li><a href="search1?id='+result.data[i].id+'">'+result.data[i].tagname+'<span style="float:right;">'+result.data[i].tagClicks
					if(i<3){
						str += '<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>';
					}
					+'</div></a></li>';
				}
				ul.append(str);
					
			})
	}
	
	//获取对应id的帖子名字及内容
	function doGetPostObject(){
		var url = "doFindIndexPostObjects";
		var pageCurrent = $("[class = 'pagination w100dt']").children(".active").children().html()
		var params = "id="+pageCurrent;
		$.getJSON(url,params,function(result){
			console.log(result);
			writePostObjectsMessage(result);
		});
	}
	
	//帖子名字和内容显示
	function writePostObjectsMessage(result){
		console.log(result);
		for(var i=0;i<result.data.length;i++){
		$("#postName"+i).html(result.data[i].sysPost.postname);
		$("#postcontent"+i).html(result.data[i].sysPost.content);
		$("#createtime"+i).html(result.data[i].sysPost.newDate);
		$("#post_clicks"+i).html(result.data[i].sysPost.postClicks);
		$("#writerName"+i).html(result.data[i].username);
		$("#postCommentCount"+i).html(result.data[i].commentCount);
		
		$("#postName"+i).prop("href","single-blog?id="+result.data[i].sysPost.id);
		$("#postImg"+i).prop("src","bower_components/img/img"+parseInt(Math.random()*(40-7+1)+7)+".jpg");
		}
	}
	
	//文档加载函数
	$(function() {
		getTagsMessage();
		doGetPostObject();
		
		$.getJSON("getLoginUser",function(result){
		$("#loginUsername").html(result.data.username);
		$("#loginEmail").html("email:"+result.data.email);
		$("#loginCreatedtime").html("注册时间:"+result.data.newTime);
		}); 
		
		
		
		
/* 翻页  */		
		   $(function(){
			   for(var i = 1;i<6;i++){
				   $("[href='#!']").parent().eq(i).on("click",changePage) 
			   }  
		   })
		   function changePage(){
		   		$("[href='#!']").parent().attr("class","waves-effect");
				$(this).attr("class","active");
				doGetPostObject();
		   }
		   $(function(){
			   $("[href='#!']").parent().first().on("click",function(){
				   var pageCurrent = $("[class = 'pagination w100dt']").children(".active").children().html()
				   var start = $("[href='#!']").eq(1).html()
				   if(pageCurrent==1){
				    	$("[href='#!']").parent().eq(1).attr("class","active");
				   	}else{
				   		$("[class = 'pagination w100dt']").children(".active").prev().attr("class","active")
				   		$("[class = 'pagination w100dt']").children(".active").last().attr("class","waves-effect") 
				   		if($("[class = 'pagination w100dt']").children().eq(0).attr("class")=="active" & start!=1){
				   			$("[class = 'pagination w100dt']").children().eq(0).attr("class","waves-effect")
				   			$("[class = 'pagination w100dt']").children().eq(1).attr("class","active")
				   			pageCurrent--;
				   			for(var i = 1;i<6;i++){
						    	$("[href='#!']").eq(i).empty()
						    	$("[href='#!']").eq(i).append(pageCurrent+i-1)
				   			}
				   		}
				   	}
				   doGetPostObject();
		   })
		   })
		   $(function(){
			   
			   $("[href='#!']").parent().last().on("click",function(){
				   debugger
				   var pageCurrent = $("[class = 'pagination w100dt']").children(".active").children().html()
				   var end = $("[href='#!']").eq(5).html()
				   if(pageCurrent>=5 & $("[class = 'pagination w100dt']").children().eq(5).attr("class")=="active"){
				    	$("[href='#!']").parent().eq(5).attr("class","active");
				    	pageCurrent++;
						for(var i = 1;i<6;i++){
					    	$("[href='#!']").eq(i).empty()
					    	$("[href='#!']").eq(i).append(pageCurrent-5+i)
						}
				   	}else if(end>=5){
				   		$("[class = 'pagination w100dt']").children(".active").next().attr("class","active")
				   		$("[class = 'pagination w100dt']").children(".active").first().attr("class","waves-effect") 
				   	}
				   doGetPostObject();
				});
		   });

		
		
		
		
		
		
		
		$("#textTable").blur(function() {
			var i = $("#textTable").val();
			$("#toSearchPost").prop("href","search?param="+i); 
		})
		
	});
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</script>

</body>

</html>