
				<!DOCTYPE html>
				<html lang="zxx">

				<head>

				<meta name="viewport" content="width=device-width, initial-scale=1.0">

				<title>Sujon - search</title>

				<!-- css include -->
						<link rel="stylesheet" type="text/css" href="bower_components/css/materialize.css">
		<link rel="stylesheet" type="text/css" href="bower_components/css/icofont.css">
		<link rel="stylesheet" type="text/css" href="bower_components/css/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="bower_components/css/owl.theme.default.min.css">

		<!-- my css include -->
		<link rel="stylesheet" type="text/css" href="bower_components/css/custom-menu.css">
		<link rel="stylesheet" type="text/css" href="bower_components/css/style.css">
		<link rel="stylesheet" type="text/css" href="bower_components/css/responsive.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
				</head>


				<body>




					<div class="thetop"></div>
					<!-- for back to top -->

					<div class='backToTop'>
						<a href="#" class='scroll'> <span>T</span> <span>O</span> <span>P</span>
							<span class="go-up"> <i class="icofont icofont-long-arrow-up"></i>
						</span>
						</a>
					</div>
					<!-- backToTop -->




					<!-- ==================== header-section Start ==================== -->
					<header id="header-section" class="header-section w100dt navbar-fixed">

						<nav class="nav-extended main-nav">
							<div class="container">
								<div class="row">
									<div class="nav-wrapper w100dt">

										<div class="logo left">
											<a href="index.html" class="brand-logo"> <img
												src="bower_components/img/logo.png" alt="brand-logo">
											</a>
										</div>
										<!-- logo -->

										<div>
											<a href="#" data-activates="mobile-demo" class="button-collapse">
												<i class="icofont icofont-navigation-menu"></i>
											</a>
											<ul id="nav-mobile"
												class="main-menu center-align hide-on-med-and-down">
												<li class="active"><a href="index.html">首页</a></li>
												<li><a href="cateogry.html" id="hotpage">热门</a></li>
												<li class="dropdown"><a href="#">分类<i
														class="icofont icofont-simple-down"></i></a>
													<ul class="dropdown-container">
														<li><a href="404.html">404 Page</a></li>
														<li><a href="404.html">404 Page</a></li>
														<li><a href="404.html">404 Page</a></li>
														<li><a href="404.html">404 Page</a></li>
														<li><a href="404.html">404 Page</a></li>
													</ul> <!-- /.dropdown-container --></li>
												<li><a href="contact.html">发布</a></li>

											</ul>
											<!-- /.main-menu -->

											<!-- ******************** sidebar-menu ******************** -->
											<ul class="side-nav" id="mobile-demo">
												<li class="snavlogo center-align"><img
													src="bower_components/img/logo.png" alt="logo"></li>
												<li class="active"><a href="index.html">HOME</a></li>
												<li><a href="cateogry.html">CATEGORIES</a></li>
												<li><a href="single-blog.html">SINGLE BLOG</a></li>
												<li><a href="contact.html">CONTACT</a></li>
												<li><a href="404.html">404 PAGE</a></li>
											</ul>
										</div>
										<!-- main-menu -->

										<a  class="search-trigger right"> <i
											class="icofont icofont-search"></i>
										</a>

										<!-- search -->
						<div id="myNav" class="overlay">
							<a href="javascript:void(0)" class="closebtn">&times;</a>
							<div class="overlay-content">
								<form>
									<input type="text" name="search" placeholder="Search..." id="textTable">
									<br>
									<button class="waves-effect waves-light" type="submit"
										name=""><a href="search" id="toSearchPost">Search</a></button>
								</form>
							</div>
						</div>

					</div>
									<!-- /.nav-wrapper -->
								</div>
								<!-- row -->
							</div>
							<!-- container -->
						</nav>

					</header>
					<!-- /#header-section -->
					<!-- ==================== header-section End ==================== -->



					<!-- ==================== blog-section start ==================== -->
					<section id="blog-section" class="blog-section w100dt mb-50">
						<div class="container" style="margin:auto;">
							<div class="row" >
				<br><br><br><br>
								<div class="col s12 m8 l8" id="post">
									
							
										
								</div>
										<ul class="pagination w100dt">
										<li class="waves-effect"><a class="pre">
										<i class="icofont icofont-simple-left"></i></a></li>
										<li class="waves-effect"><a class="first">1</a></li>
										<li class="waves-effect"><a class="second">2</a></li>
										<li class="waves-effect"><a class="third">3</a></li>
										<li class="waves-effect"><a class="next">
										<i class="icofont icofont-simple-right"></i></a></li>
										</ul>
								
							</div>
							<!-- row -->
						</div>
						<!-- container -->
					</section>
					<!-- /#blog-section -->
					<!-- ==================== blog-section end ==================== -->





					<!-- ==================== instag leftram-section Start ==================== -->
					<section id="instagram-section" class="instagram-section w100dt">

						<div class="instagram-link w100dt">
							<a href="#"> <span>FIND US ON INSTAGRAM</span> @SUJONMAJIDESIGN
							</a>
						</div>

					</section>
					<!-- /#instag leftram-section -->
					<!-- ==================== instag leftram-section End ==================== -->





					<!-- ==================== footer-section Start ==================== -->
					<footer id="footer-section" class="footer-section w100dt">
						<div class="container">

							<div class="footer-logo w100dt center-align mb-30">
								<a href="#" class="brand-logo"> <img
									src="bower_components/img/logo.png" alt="brand-logo">
								</a>
							</div>
							<!-- /.footer-logo -->

							<ul class="footer-social-links w100dt center-align mb-30">
								<li><a href="#" class="facebook">FACEBOOK</a></li>
								<li><a href="#" class="twitter">TWITTER</a></li>
								<li><a href="#" class="google-plus">GOOGLE+</a></li>
								<li><a href="#" class="linkedin">LINKDIN</a></li>
								<li><a href="#" class="pinterest">PINTEREST</a></li>
								<li><a href="#" class="instagram">INSTAGRAM</a></li>
							</ul>

							<p class="center-align">
								<i class="icofont icofont-heart-alt l-blue"></i> All Right Reserved,
								Deasined by <a href="#" class="l-blue">HTMLmate</a> - More Templates
								<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
								- Collect from <a href="http://www.cssmoban.com/" title="网页模板"
									target="_blank">网页模板</a> - More Templates <a
									href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
								- Collect from <a href="http://www.cssmoban.com/" title="网页模板"
									target="_blank">网页模板</a>
							</p>

						</div>
						<!-- container -->
					</footer>
					<!-- /#footer-section -->
					<!-- ==================== footer-section End ==================== -->









			<!-- my custom js -->
			<script type="text/javascript" src="bower_components/js/jquery-3.1.1.min.js"></script>
			<script type="text/javascript" src="bower_components/js/materialize.js"></script> 
			<script type="text/javascript" src="bower_components/js/owl.carousel.min.js"></script>

			<!-- my custom js -->
			<script type="text/javascript" src="bower_components/js/custom.js"></script>

			
			<script type="text/javascript">
			
						
						$(document).ready(function (){
							getTagsMessage();
						//doFrshPageObjects()
						var params="postname="+getParam1();
						$.getJSON("searchPost",params,function(result){
							console.log(result);
							writePostCommentsMessage(result);
						});
						
						});

						
						$(".pagination").on("click",".first,.second,.next,.third,.pre",doJumpToPage);
					

						
						
						//获得值
						function getParam1(){
							var url=location.href;
							console.log(url);
							
						    var tmp1=url.split("?")[1];
							console.log(tmp1);
							
							var tmp2=tmp1.split("=")[0];
							console.log(tmp2);
							var tmp3=url.split("=")[1];
							console.log(tmp3);
							
							return tmp3;
						}
						
						
						
						
						
					function doJumpToPage(){
					
						//1.获取点击对象的class值
						var cls=$(this).prop("class");//Property
						
						//2.2修改pageCurrent的值
						if(cls=="first"){//首页
							pageCurrent=1;
						}else if(cls=="second"){
								pageCurrent=2;
						}else if(cls=="third"){
								pageCurrent=3;
						}else if(cls=="pre"&&pageCurrent>1){//上一页
							pageCurrent--;
						}else if(cls=="next"&&pageCurrent<17){//下一页
							pageCurrent++;
						}else{
						return;
						//3.对pageCurrent值进行重新绑定
						}
					
						//4.基于新的pageCurrent的值进行当前页数据查询
						doFrshPageObjects(pageCurrent);
					}
				
											/**
						 * js获取url传递参数
						 */
						function getRequest() {
							var url= window.location.href;
							alert(url)
							var requestMap = new Array();// 定义一个数组，用来把参数封装成map集合
							if (url.indexOf("?") != -1) {
								var str = url.substr(1);
								strs = str.split("&");
								for(var i = 0; i < strs.length; i ++) {
									var p = new Object;
										if(i==0){
											var temp = strs[i].split("=")[0];
											var strTemp = temp.split("?")[1];
											//alert("strTemp------->"+strTemp);
											p.name=strTemp;
										}else{
											//alert("strs[i].split('=')[0]-------->"+strs[i].split("=")[0]);
											
											p.name = strs[i].split("=")[0];
										}
										//alert("strs[i].split('=')[1]-------->"+strs[i].split("=")[1]);
											p.value=strs[i].split("=")[1];
									
									requestMap.push(p);
								}
							}
							return requestMap;
							}
					function doFrshPageObjects(pageCurrent){
							
							var url1="search/doSearchAll";
						/* 	var url=location.href;
							var tmp1=url.split("?")[1];
							if(tmp1)var tmp2=tmp1.split("&")[0];
							if(tmp2)var tmp3=tmp2.split("=")[1];
							if(tmp3)var pageCurrent=tmp3; */
							if (!pageCurrent)pageCurrent = 1;
							var tagId;
							var userId;
							var postname;
							
							var mymap=getRequest();
							if(mymap!=null) for(let item of mymap.keys()){
								if(item.name=="tagId")tagId=item.get("tagId");
								if(item=="userId")userId=item.get("userId");
								if(item=="postname")postname=unescape(item.get("postname"));
								

　　　　　　　　　				}
						var params = {
							"pageCurrent" : pageCurrent
						};
							
							if(postname!=null) params.postname=postname;
							if(tagId!=null)params.tagId=tagId;
							if(userId!=null)params.userId=userId;
							
							$.post(url1,params,function(result){
								if(result.state==1){
									
									doLoadPage(result.data.records);
									
								}else{
									//alert(result.message);
								}
							})
						}
						function doLoadPage(records){
							$('div[class="col s12 m8 l8"]').empty();
							for(var i in records){

							
						$('div[class="col s12 m8 l8"]').append('<div class="card"><div class="card-image"></div><div class="card-content w100dt"><p><a href="#" class="tag left w100dt l-blue mb-30" value="'+records[i].tagId+'">'+records[i].tagname+'</a></p><a href="single-blog.html" class="card-title" value="'+records[i].id+'"> '+records[i].postname+'</a><p class="mb-30" >'+records[i].content+'</p><ul class="post-mate-time left"><li><p class="hero left">By - <a href="#" class="l-blue" value="'+records[i].userId+'">'+records[i].username+'</a></p></li><li><i class="icofont icofont-ui-calendar"></i> '+records[i].createdtime+'</li></ul><ul class="post-mate right"><li class="comment"><a href="#"> <i class="icofont icofont-comment"></i>'+records[i].postClicks+'</a></li></ul></div></div><br>')			}
					};
						
					
					
					
					
					
					
					
					
					
					
					function writePostCommentsMessage(result){
						for(var i=0;i<result.data.length;i++){ 
						/* console.log(result); */
							var tr=$('div[class="col s12 m8 l8"]');
							var newdiv=newDiv(result.data[i]);
							tr.append(newdiv);
							//console.log(result.data[i]);
					 } 
					}
					
					function newDiv(result){
						console.log(result);
						

			/* 
						 <div class='card-content w100dt'>
								
								<a href='doFindObjects' class='card-title' id='titles_name'>
								
								</a> */
							/* 	<p class='mb-30'></p><ul class='post-mate-time left'><li><p class='hero left'>
			 <a href='#' class='l-blue'>SujonMaji</a> */
			/* </p></li><li><i class='icofont icofont-ui-calendar'></i> 5 February'17</li></ul><ul class='post-mate right'><li class='like'><a href='#'><i class='icofont icofont-heart-alt'></i> 55</a></li><li class='comment'><a href='#'><i class='icofont icofont-comment'></i> 32</a></li></ul></div></div> */
					
						
					var div="<div class='blogs mb-30' ><div class='card' ><div class='card-content w100dt'><a id='clicks' href='http://localhost/single-blog?id="+result.id+"' class='card-title' id='titles_name'>"+result.postname+	
							"</a><p class='mb-30'></p><ul class='post-mate-time left'><li><p class='hero left'><a href='#'>"+" </a></p></li><li><i class='icofont icofont-ui-calendar'></i>"+result.newDate+"</li></ul><ul class='post-mate right'><li class='like'><a href='#'><i class='icofont icofont-heart-alt'></i>"+result.postClicks+"</a></li><li class='comment'></li></ul></div></div></div></div>";
				return div;
					} 
					
					
					function getTagsMessage() {
						var url = "tags/doFindObjects"
							$.getJSON(url, function(result) {
								debugger
								var ul = $(".dropdown-container");
								var str = "";
								ul.empty();
								for(var i=0; i<result.data.length; i++){
									str += '<li><a href="search1?id='+result.data[i].id+'">'+result.data[i].tagname+'<span style="float:right;">'+result.data[i].tagClicks
									if(i<3){
										str += '<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>';
									}
									+'</div></a></li>';
								}
								ul.append(str);
									
							})
					}
						</script>


				</body>

				</html>